@model changePasswordViewModel
@{
    ViewData["Title"] = "ChangePassord";
}

    <div class="kt-login__body col-lg-12"
         style="margin: auto; width: 44%;border: 3px solid grey;padding: 10px;background-color: white;margin-bottom: 3%;padding-top:5%;padding-bottom:5%">

        <!--begin::ChangePassword-->
        <div class="kt-login__form">
            <div class="kt-login__title">
                <div class="text-center">
                    <h3><i class="fa fa-lock fa-4x"></i></h3>
                    <h2 class="text-center">@Labels.ChangePassword</h2>
                    <p>@Labels.ResetPassword</p>
                </div>
                </div>

                @if (TempData[Constants.ChangePasswordErrorMessage] != null)
                {
                    <div class="alert alert-bold alert-solid-danger alert-dismissible" role="alert">

                        <div class="alert-text">@TempData[Constants.ChangePasswordErrorMessage]</div>
                        <div class="alert-close">
                            <i class="flaticon2-cross kt-icon-sm" data-dismiss="alert"></i>
                        </div>
                    </div>
                }
                @if (TempData[Constants.ChangePasswordSuccessMessage] != null)
                {
                    <div class="alert alert-bold alert-solid-success alert-dismissible" role="alert">

                        <div class="alert-text">@TempData[Constants.ChangePasswordSuccessMessage]</div>
                        <div class="alert-close">
                            <i class="flaticon2-cross kt-icon-sm" data-dismiss="true"></i>
                        </div>
                    </div>
                }

                <!--begin::Form-->
                @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @class = "kt-form", role = "form" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-group">
                        @Html.PasswordFor(m => m.CurrentPassword, new { @class = "form-control", placeholder = Labels.CurrentPassword, autocomplete = "off" })
                        <div class="invalid-feedback">@Html.ValidationMessageFor(m => m.CurrentPassword, "")</div>
                    </div>
                    <div class="form-group">
                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", placeholder = Labels.NewPassword, autocomplete = "off" })
                        <div class="invalid-feedback">@Html.ValidationMessageFor(m => m.NewPassword, "")</div>
                    </div>
                    <div class="form-group">
                        @Html.PasswordFor(m => m.ConfirmNewPassword, new { @class = "form-control", placeholder = Labels.ConfirmNewPassword, autocomplete = "off" })
                        <div class="invalid-feedback">@Html.ValidationMessageFor(m => m.ConfirmNewPassword, "")</div>
                    </div>
                    <!--begin::Action-->
                    <div class="kt-login__options">
                       
                            <button type="submit" class="btn btn-lg btn-brand btn-block">@Labels.Save</button>
                        
                      
                            <a asp-action="index" asp-controller="home" class="btn btn-lg btn-danger btn-block">@Labels.Cancel</a>
                       
                    </div>

                    <!--end::Action-->
                }

                <!--end::Form-->
            </div>


        <!--end::ChangePassword-->
    </div>
    @section Scripts{
        <partial name="_ValidationScriptsPartial" />
    }
